prefix: '~'

rabbitmq:
    host: "rabbitmq"
    # What name the bot will connect to the socket with. Must be the kubernetes deployment name of this bot
    name: "automation-bot-m17"
    # Whether the queue will persist when the connection is closed
    durable: True
    # Whether this queue will be able to receive messages or not
    process_messages: True
    # Whether to track heartbeats from other servers
    track_heartbeats: True
    # Messages greater than this will be logged to stdout
    # Levels - from https://docs.python.org/3/library/logging.html#levels
    log_level: 20

k8s_namespace: "volt"

reactions_enabled: False

ignored_reaction_channels:
    # rules - doesn't actually matter, just a placeholder for volt bot
    - 704049401588613161,

channels:
    # volt-bot (dev discord)
    - 1160660685982806106

server_dir: /home/epic/volt/m17

cpu_count: 6

stage_source:
    m17:
        queue_name: automation-bot-m17
        shards:
            - ring-2
            - server_config
            - valley-2
            - velocity-17
            - zenith-2

common_weekly_update_tasks: false

shards:
    ring-2: /home/epic/volt/m17/ring-2/
    valley-2: /home/epic/volt/m17/valley-2/
    velocity-17: /home/epic/volt/m17/velocity-17/
    zenith-2: /home/epic/volt/m17/zenith-2/

heartbeat_free_shards:
    - purgatory

commands:
    - apply stage bundle
    - debug
    - fetch update bundle
    - help
    - list bots
    - restart
    - select
    - stage
    - start
    - stop
    - stop and backup
    - weekly update
    - test
    - testpriv
    - testunpriv
    - verbose
    - update avatar

permissions:
    users:
        302298391969267712: {"name": "Combustible", "rights": [ "@root" ]}
        228226807353180162: {"name": "NickNackGus", "rights": [ "@root" ]}
        225791510636003329: {"name": "Crondis",     "rights": [ "@root" ]}
        257887001834029056: {"name": "rayman520",   "rights": [ "@root" ]}
        192645668592943104: {"name": "Njol",        "rights": [ "@root" ]}
        222170304577929218: {"name": "U5B_",        "rights": [ "@root" ]}
        503202330284392452: {"name": "Floweynt",    "rights": [ "@root" ]}
        301924109007454217: {"name": "shotoh",      "rights": [ "@root" ]}

    groups_by_role:
        # Team Monumenta (Private discord)
        341032989787947008: "@team monumenta"
        # Intern (Private discord)
        390269554657460226: "@intern"
        # Moderator (Private discord)
        824391828836450345: "@moderator"
        # Beta Tester (Private discord)
        824393198554054686: "@beta tester"

    groups:
        "@root":
            - "+*"
            - "-testunpriv"
        "@team monumenta":
            - "@intern"
        "@intern":
            - "@moderator"
            - "+apply stage bundle"
            - "+fetch update bundle"
            - "+debug"
            - "+get errors"
            - "+stage"
            - "+stop and backup"
            - "+weekly update"
        "@moderator":
            - "@beta tester"
            - "+broadcastcommand"
            - "+broadcastminecraftcommand"
            - "+broadcastproxycommand"
            - "+sendcommand"
            - "+get score"
            - "+list bots"
            - "+badname"
            - "+lockout check *"
            - "+lockout check"
            - "+lockout claim"
            - "+lockout clear"
            - "+lockout"
            - "+player find"
            - "+player rollback"
            - "+player account transfer"
            - "+player shard"
            - "+player wipe"
            - "+remind"
            - "+restart"
            - "+set score"
            - "+start"
            - "+stop at"
            - "+stop"
            - "+test"
            - "+testpriv"
            - "+verbose"
            - "+view scores"
        "@beta tester":
            - "@everyone"
            - "+broadcastcommand deop"
            - "+broadcastcommand op"
            - "+deop"
            - "+op"
            - "+player shard transfer"
            - "+player transfer"
            - "+list shards"
        "@everyone":
            - "+select"
            - "+help"
            - "+get timestamp"
            - "+remind me"
