apiVersion: apps/v1
kind: Deployment
metadata:
  name: build-ssh
  namespace: play
  labels:
    app: build-ssh
spec:
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app: build-ssh
  template:
    metadata:
      labels:
        app: build-ssh
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - monumenta-17
      volumes:
        - name: scriptedquests
          hostPath:
            type: Directory
            path: /nfs/4_SHARED/build_shard_data/scriptedquests
        - name: datapacks
          hostPath:
            type: Directory
            path: /nfs/play/m17/build/Project_Epic-build/datapacks
        - name: logs
          hostPath:
            type: Directory
            path: /nfs/play/m17/build/logs
        - name: authorized-keys-config
          secret:
            secretName: authorized-keys-config
            defaultMode: 292
      containers:
      - name: basic-ssh
        image: ghcr.io/teammonumenta/monumenta-automation/monumenta-basic-ssh
        imagePullPolicy: Always
        tty: false
        stdin: false
        ports:
        - containerPort: 22
          hostPort: 6622
          hostIP: "15.235.84.119" # The node's external facing IP address
        volumeMounts:
        - name: scriptedquests
          mountPath: /home/epic/scriptedquests
        - name: datapacks
          mountPath: /home/epic/datapacks
        - name: logs
          mountPath: /home/epic/logs
          readOnly: true
        - name: authorized-keys-config
          mountPath: /home/epic/.ssh/authorized_keys
          subPath: authorized_keys
      imagePullSecrets:
      - name: githubcred
