apiVersion: apps/v1
kind: Deployment
metadata:
  name: mod-ssh
  namespace: play
  labels:
    app: mod-ssh
spec:
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app: mod-ssh
  template:
    metadata:
      labels:
        app: mod-ssh
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - monumenta-17
      volumes:
        - name: chat-global-filters
          hostPath:
            type: Directory
            path: /nfs/4_SHARED/global_chat_filters
        - name: chat-help-m17
          hostPath:
            type: Directory
            path: /nfs/play/m17/server_config/data/plugins/all/MonumentaNetworkChat/help
        - name: chat-help-m18
          hostPath:
            type: Directory
            path: /nfs/play/m18/server_config/data/plugins/all/MonumentaNetworkChat/help
        - name: compass-files-m17
          hostPath:
            type: Directory
            path: /nfs/play/m17/server_config/data/scriptedquests/compass
        - name: authorized-keys-config
          secret:
            secretName: authorized-keys-mod-config
            defaultMode: 292
      containers:
      - name: basic-ssh
        image: ghcr.io/teammonumenta/monumenta-automation/monumenta-basic-ssh
        imagePullPolicy: Always
        tty: false
        stdin: false
        ports:
        - containerPort: 22
          hostPort: 10022
          hostIP: "15.235.84.119" # The node's external facing IP address
        volumeMounts:
        - name: chat-global-filters
          mountPath: /home/epic/global_chat_filters
        - name: chat-help-m17
          mountPath: /home/epic/m17/MonumentaNetworkChat/help
        - name: chat-help-m18
          mountPath: /home/epic/m18/MonumentaNetworkChat/help
        - name: compass-files-m17
          readOnly: true
          mountPath: /home/epic/m17/scriptedquests/compass
        - name: authorized-keys-config
          mountPath: /home/epic/.ssh/authorized_keys
          subPath: authorized_keys
