name: Build master

on: [workflow_call]
# Jobs
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v5
    # Set up JDK, we might want to bump this to Java 25
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        distribution: zulu
        java-version: 21
        check-latest: true
    # Git config, not sure why this is needed?
    - name: Apply global Git config
      run: |
          git config --global user.name "Monumenta CI"
          git config --global user.email "Monumenta.CI@NotARealEmail.com"
    # Cache dependencies so we don't have to download them every run
    - name: Cache maven dependencies
      uses: actions/cache@v4
      env:
        cache-name: cache-maven-dependencies
      with:
        # maven files are stored in `~/.m2/repository`
        path: |
          ~/.m2/repository
          ~/.gradle/caches
          ~/.gradle/wrapper
        # Create the key based on runner os, cache name, and a hash of all the pom.xml files
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-
    # Run build
    - name: Build project
      env:
        USERNAME: monumenta
        TOKEN: ${{ secrets.MAVEN_TOKEN }}
      run: |
        ./gradlew build
